
.mainApp{
  text-align: center;
  max-width: 400px;
  /* max-width: 500px; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 25px;
  width: auto;
}

.feed{
 text-align: center;
 background-color: rgb(15, 114, 68);
}

.btnlogout{
  margin: 20px;
}